@import './section1.css';
@import './section2.css';
@import './form.css';
@import './toaster.css';

body{
    background-color: #111522;
}
.header {
    height: 30vh;
    background-image: url('../assets/header2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body {
    height: 60vh;
}

.white-font{
color: white;
}

.add-button-container{
flex-grow: 1;
display: flex;
justify-content: center;
flex-direction: column;
}

.add-button{
    border-radius: 1vh;
    background-color: black;
    color: white;
    font-size: 3vh;
    width: 20vw;
    height: 6vh;
    cursor: pointer;
}
.zero-outline{
    outline: none;
}

